@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

h2,
h4 {
  margin-bottom: 0.4em;
  margin-top: 0.6em;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.card {
  width: 22em;
  height: 29em;
  background-color: white;
  border: 2px;
  border-radius: 0.8em;
  border-color: lightgray;
  box-shadow: 0em 0em 0.5em lightgray;
  padding-top: 1.5em;
}

.image {
  margin: auto;
  width: 19em;
  height: 14em;
  background-color: lightgray;
  border-radius: 0.2em;
}

.card .title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 16em;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.77em;
  font-weight: 200;
  color: #a1a1a1;
  /* -- Text limit -- */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 25em;
  max-height: 7.5em;
  line-height: 1.5em;
}

.additional-info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  color: #9b9b9b;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #292929;
}

.match-buttons {
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22em;
  gap: 2em;
}

.match-buttons .pass {
  width: 7em;
  height: 7em;
  background-color: #ff8682;
  border: 0.2em;
  border-style: solid;
  border-color: pink;
  border-radius: 3.4em;
  color: white;
}
.match-buttons .pass:hover {
  background-color: white;
  color: pink;
}

.match-buttons .match {
  width: 5.5em;
  height: 5.5em;
  background-color: #cacaca;
  border: 0.2em;
  border-style: solid;
  border-color: #a5a5a5;
  border-radius: 3.4em;
  color: white;
}

.match-buttons .match:hover {
  background-color: lightgray;
  color: #505050;
}
