@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

.footer {
  width: 100%;
  border-top: 0.5em;
  border-top-style: solid;
  border-top-color: #4ac9b1;
  background-color: white !important;
  position: absolute;
  bottom: 0;
  height: 17em;
  margin-bottom: -17em;
}

#footer .copyright {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  background-image: linear-gradient(
    to right,
    rgba(98, 208, 122, 1),
    rgba(74, 201, 177, 1)
  );
  line-height: 3em;
  margin-top: 2.5em;
}

#footer .column {
  float: left;
  /* width: 33.33%; */
  width: 30%;
}

#footer .middle-column {
  margin-left: 10%;
}

#footer .row:after {
  content: "";
  display: table;
  clear: both;
}

#footer .row {
  margin: 1.2em;
  margin-left: 4.2em;
  margin-bottom: 2em;
}

#footer .social-medias {
  margin-top: 1.3em;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.2em;
}

#footer .social-medias .social-logo {
  width: 3.2em;
  height: 3.2em;
  background-color: white;
  border: 0.2em;
  border-style: solid;
  border-color: #4ac9b1;
  border-radius: 3.4em;
  color: #4ac9b1;
}
#footer .social-medias .social-logo:hover {
  background-color: #4ac9b1;
  color: white;
  border-color: white;
}

#footer .footer a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 200;
  color: #505050;
  text-decoration: none;
}
#footer a:hover {
  color: #4ac9b1;
  margin-left: 0.2em;
}

#footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #292929;
}

#footer .footer-description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 200;
  color: #8f8f8f;
}
