.gradient {
    background-image: linear-gradient(to bottom, #75d062, #4ac9b1);
    background-attachment: fixed;
  }

@font-face { font-family: Montserrat; src: url('../fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: Montserrat; font-weight: 300; src: url('../fonts/Montserrat-Light.ttf'); }
@font-face { font-family: Montserrat; font-style: italic; src: url('../fonts/Montserrat-Italic.ttf'); }
@font-face { font-family: Montserrat; font-weight: 700; src: url('../fonts/Montserrat-Bold.ttf'); }
@font-face { font-family: Montserrat; font-weight: 700; font-style: italic; src: url('../fonts/Montserrat-BoldItalic.ttf'); }

* {
    font-family: "Montserrat", sans-serif;
}

button {
    border-radius: 4px;
    cursor: pointer;
}

input {
    height: 25px;
    border-radius: 4px;
}

/* animations */
.loader {
    border: 16px solid #75d062;
    border-top: 16px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes glideUp { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}